/* ============================================= */
/*                 About Section                 */
/* ============================================= */
.info {
    margin: 50px 15px;
    .general-info {
        margin-bottom: 50px;
    }
    .profile-picture {
        margin-top: 50px;
        text-align: center;
    }
}


//For about.html
.about-info {
    margin: 50px 15px;
    .profile-image {
        width: 50%;
        margin: 0 auto;
        img {
            border: 5px solid $purple;
            border-radius: 30px;
        }
    }
}
