/* ============================================= */
/*              Contact Section                  */
/* ============================================= */

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    border-top: 2px solid $purple;
    h3 {
        margin-bottom: 0;
    }
    .contact-links {
        display: flex;
        width: 200px;
        justify-content: space-between;
        margin: 50px auto;
        .icon {
            width: 30px;
            height: auto;
        }
    }
    .icon:hover {
        animation: icon 1s ease-out forwards;
    }
}