/* ============================================= */
/*                   Header                      */
/* ============================================= */



.main-header {
    background-color: $primary;
    color: $off-white;
    width: 100%;
    display: flex;
    position: fixed;
    top: 0;
    z-index: 1000;
    flex-direction: column;
    align-items: center;
    .title {
        a:link {
            color: $off-white;
        }
        a:visited {
            color: $off-white;
        }
    }
    .nav {
        width: 95%;
        .nav-list {
            list-style: none;
            padding: 0;
            .nav-item {
                margin: 5px auto;
                background-color: $secondary;
                text-align: center;
                border-radius: 5px;
                transition: background-color .5s ease-out;
                &:hover {
                    background-color: lighten($secondary, 10%);
                }
                a {
                    font-size: 1.2rem;
                }
            }
        }
    }
    
}

