/* ============================================= */
/*                 Info Section                  */
/* ============================================= */

.info {
    margin: 100px 15px;
    .general-info {
        text-align: center;
    }
    .profile-picture {
        margin-top: 50px;
        text-align: center;
    }
}