/* ============================================= */
/*                 Info Section                  */
/* ============================================= */

.info {
    padding: 100px 0;
    margin-bottom: 50px;
    opacity: 0;
    transition: opacity 1s ease-out;
    background-image: linear-gradient(to bottom, rgba(40,42,54, 1),
                    rgba(68,71,90, .85)),
                    
                      url("../img/van-at-night.jpeg"); //Taken by Paul Gifford; found on Wikimedia Commons under Creative Commons Attribution-Share Alike 3.0 Unported url (https://upload.wikimedia.org/wikipedia/commons/8/85/Robson_Street_at_night%2C_Vancouver%2C_BC%2C_Canada.JPG)
    background-position: center;
    background-size: cover;
    border-top: 1px solid $secondary;
    border-bottom: 1px solid $secondary;
    .general-info {
        text-align: center;
        width: 90%;
        margin: 0 auto;
        .info-title {
            transition: transform 2s ease-out;
            transform: translateX(-5000px);
        }
        .info-text {
            opacity: 0;
            transition: opacity 3s ease-out;
        }
    }
    .about-link {
        color: $purple;
    }
}