/* ============================================= */
/*                Media Queries                  */
/* ============================================= */

@media(min-width: 768px) {
    .nav-list {
        display: flex;
        flex-direction: row;
        .nav-item {
            display: inline-block;
            width: 30%;
        }
    }
    .info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        margin-bottom: 50px;
        .general-info {
            margin-right: 30px;
        }
    }
    .projects {
        
        grid-template-columns: repeat(2, 1fr);
    }
    html {
        margin-top: 185px;
    }
    .about-info {
        margin: 50px 15px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        .about-general-info {
            flex-basis: 50%;
            margin-right: 15px;
        }
        .profile-image {
            flex-basis: 40%;
            margin: 0 auto;
            img {
                border: 5px solid $primary;
            }
        }
    }
}

@media(min-width: 1024px) {
    .main-header {
        flex-direction: row;
    }
    .projects {
        max-width: 90%;
        margin: 0 auto 50px auto;
        grid-template-columns: repeat(4, 1fr);
    }
    .title {
        margin-left: 15px;
        width: 550px;
    }
    .info {
        max-width: 90%;
        margin: 0 auto;
    }
    html {
        margin-top: 110px;
    }
}