/* ============================================= */
/*                Media Queries                  */
/* ============================================= */

@media(min-width: 768px) {
    .container-main {
        margin-top: 0;
    }
    .nav-list {
        display: flex;
        flex-direction: row;
        .nav-item {
            display: inline-block;
            width: 30%;
        }
    }
    .info {
        padding: 150px 0;
        .info-title {
            font-size: 50px;
        }
        .info-text {
            font-size: 25px;
        }
    }
    .icon-skills {
        width: 5%;
    }
    .projects {
        grid-template-columns: repeat(2, 1fr);
    }
    html {
        margin-top: 185px;
    }
    .modal-container {
        width: 70%;
        .left-arrow,
        .right-arrow {
            font-size: 4rem;
        }
        .left-arrow {
            left: -40px;
        }
        .right-arrow {
            right: -40px;
        }
    }
    .about-info {
        margin: 50px 15px;
        display: grid;
        grid-template-columns: (repeat(2, 1fr));
        grid-template-rows: 450px 1fr;
        .about-general-info {
            grid-row: 1 / span 1;
        }
        .about-skills {
            grid-row: 2 / span 1;
            grid-column: 1 / span 2;
        }
        .profile-image {
            grid-column: 2 / span 1;
            grid-row: 1 / span 1;
            width: 100%;
            text-align: right;
            img {
                width: auto;
                max-height: 450px;
            }
        }
    }
    
}

@media(min-width: 1024px) {
    .main-header {
        flex-direction: row;
    }
    .container-main {
        margin-top: -5px;
        padding-bottom: 50px;
        grid-template-areas: 
    "info info info"
    "skills projects projects"
    "skills projects projects";
    }
    .skills {
        margin-right: 0;
        width: 250px;
        transition: transform 2s ease-out;
        transform: translateY(5000px);
        .skills-container {
            flex-direction: column;
            justify-content: space-evenly;
            padding: 0;
            .icon-skills {
                width: 20%;
            }
        }
    }
    .projects {
        transform: translateX(5000px);
        margin: 0 30px;
    }
    .title {
        margin-left: 15px;
        width: 350px;
    }
    .info {
        margin: 0 auto 50px;
        padding: 250px 0;
        width: 100%;
    }
    html {
        margin-top: 110px;
    }
    .modal-container {
        width: 65%;
        .left-arrow,
        .right-arrow {
            font-size: 5rem;
        }
        .left-arrow {
            left: -50px;
        }
        .right-arrow {
            right: -50px;
        }
    }
    .about-info {
        grid-template-columns: 60% 1fr;
        width: 60%;
        max-width: 1380px;
        margin-left: auto;
        margin-right: auto;
        .about-general-info {
            grid-column: 1 / span ;
            padding-right: 30px;
        }
        .profile-image {
            grid-column: 2 / span 1;

        }
        .about-skills {
            grid-column: 1 / span 2;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
    }
    .about-skills-item {
        flex-direction: column;
    }
    .about-skills-title {
        margin-left: 0;
    }
    .about-skills-title {
        margin-top: 0;
        margin-bottom: 5px;
    }
}

@media(min-width: 1400px) {
    .projects {
        grid-template-columns: repeat(3, 1fr);
    }
}