/* ============================================= */
/*              Projects Section                 */
/* ============================================= */

.projects {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    margin: 50px auto;
    .project {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        background-color: $secondary;
        border-radius: 5px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: transform .5s ease-out,
                    box-shadow .5s ease-out;
        .project-title,
        .project-text {
            padding: 0 15px;
        }
    }
    .project:hover {
        transform: scale(1.02) rotate(2deg);
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
}

.project-link {
    img {
        width: 100%;
    }
}