/* ============================================= */
/*              Projects Section                 */
/* ============================================= */

.projects {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    margin: 50px 15px;
    .project {
        background-color: $primary;
        border-radius: 5px;
    }
}

.project-link {
    img {
        width: 100%;
    }
}