/* ============================================= */
/*                 Skills Section                */
/* ============================================= */

.skills {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    .icon-skills {
        width: 10%;
    }
}