/* ============================================= */
/*                   Base                        */
/* ============================================= */
* {
    box-sizing: border-box;
}

html {
    margin-top: 320px;
}

body {
    background-color: $primary;
    color: $off-white;
    display: grid;
    grid-template-rows: auto;
    grid-template-areas: 
    "main-header"
    "main-content"
    "footer";
}

img {
    width: 100%;
    height: auto;
}

.main-header {
    grid-area: main-header;
}

.container-main {
    grid-area: main-content;
    margin: 0 15px;
}

.contact {
    grid-area: footer;
}

a:link {
    color: $off-white;
}
a:visited {
    color: $off-white;
}
